@font-face {
   font-family: 'DK Lemon Yellow Sun';
   font-display: swap;
   src: url('file:///C:/Users/FERNANDA%20ORTEGA/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-05-15_155825/fonts/DK%20Lemon%20Yellow%20Sun/font.otf');
}
